#overallCost {
	margin-left: 15px;
	/* width: 440px; */
}

.costEntry {
	display: flex;
	justify-content: space-between;

	margin-top: 2px;
	align-items: center;

	border-bottom: 1px solid #cdc7c2;
	padding-bottom: 1px;
}

.costEntry .nameDiv {
	width: max-content;
}

#tooltipButtonContainer {
	display: flex;
	/* align-items: flex-end; */
	/* align-content: flex-end; */
}

#tooltip {
	font-size: 14px;
	color: gray;
	padding: 0 20px;
	padding-top: 5px;
}

#costSaveButton {
	align-self: flex-start;
	margin-top: 3px;
}

.naquadahShards {
	font-weight: bold;
	color: #228028;
}

.enderPearls {
	color: #208476;
	font-weight: bold;
}