@media screen and (min-width: 500px) {
	#root {
		display: flex;
		flex-flow: row-reverse;
		/* justify-content: space-between; */
		justify-content: left;
	}

	#costsSaved, #ingredients {
		width: 340px;
	}

	#costsSaved {
		margin-left: 25px;
	}
}

@media screen and (max-width: 500px) {
	#root {
		display: flex;
		flex-flow: column;
		align-items: center;
	}

	#costsSaved, #ingredients {
		width: 90%;
	}
}

article {	
	margin-top: 20px;
	/* margin-bottom: 40px; */
}

#costs {
	display: flex;
	flex-flow: column;
}

h3 {
	margin: 6px;
}